.gridContainer {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottomGrid {
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1250px) {
  .gridContainer {
    padding: 10px 0px;
  }
}
