.searchContainer {
  font-weight: 600;
  color: #334155;
  position: relative;
}

.searchContainer span{
  position: absolute;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 7px;
}

.search {
  font-weight: 600;
  color: #334155;
  background-color: #f3f4f6;
  height: 35px;
  width: 275px;
  border-radius: 12px;
  padding-left: 40px;
}

.search:focus{
  border: 1px solid #22d3ee
}

@media only screen and (max-width: 1250px) {
  .search {
    width: 240px;
  }
}
